<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <title>{{ page_title }}</title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ 'style.css' | asset_url | stylesheet_tag }}

    <style>
      :root {
        --stars-svg: url({{ 'stars.svg' | asset_url | json }});
      }
    </style>

    {{ content_for_header }}

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js" defer></script>
  </head>

  <body class="bg-gray-100 m-0 font-body text-base">
    <main role="main py-10 lg:py-20" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>